@{
  Layout = "_Layout";
}

@model Library.Models.Patron
<h4>@User.Identity.Name</h4>
<h4>Personalize your profile</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Submit" class="btn btn-default" />
}
