@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Are you sure you want to return this book?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
} 
@Html.ActionLink("Checked out Books", "Index")